[submodule "plugins/entt"]
	path = plugins/entt
	url = https://github.com/skypjack/entt.git
	branch = master
[submodule "plugins/glfw"]
	path = plugins/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "plugins/glm"]
	path = plugins/glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "plugins/VulkanMemoryAllocator-Hpp"]
	path = plugins/VulkanMemoryAllocator-Hpp
	url = https://github.com/0oSTrAngeRo0/VulkanMemoryAllocator-Hpp.git
	branch = master
[submodule "plugins/imgui"]
	path = plugins/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "plugins/crossguid"]
	path = plugins/crossguid
	url = https://github.com/graeme-hill/crossguid.git
	branch = master
[submodule "plugins/nlohmann-json"]
	path = plugins/nlohmann-json
	url = https://github.com/nlohmann/json.git
	branch = master
